@import url('https://fonts.googleapis.com/css?family=Dokdo|Varela+Round');
@import url('https://fonts.googleapis.com/css?family=Taviraj&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

/* reseteos generales */
* {
    box-sizing: border-box;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

body {
    margin: 0%;
    height: 100%;
    font-family: 'Varela Round', 'Courier New', Courier, monospace;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}
/* mobile first */

/* sidenav */

header {
    color: #eee;
    width: 100vw;
    overflow: hidden;
    top: 0px;
}

.btn-home {
    float: right;
    border: none;
    color: #ffbb37;
    padding: 14.5px 16px;
    cursor: pointer;
    font-weight: bold;
}

.btn-home:hover {
    color: #fff;
    background-color: #f90;
}
input#abrir-cerrar {
    visibility: hidden;
    position: absolute;
    top: -9999px;
}

label[for='abrir-cerrar'] {
    cursor: pointer;
    color: #fff;
    display: inline-block;
    width: 100vw;
    z-index: 5555555;
}

.abrir {
    margin: 14px 16px;
    display: inline-block;
    color: #ffbb37;
    font-weight: bold;
}
.cerrar {
    display: none;
    color: #ffbb37;
    font-weight: bold;
}

#sidebar {
    width: 0;
}

#contenido {
    margin: 0 auto;
}

input#abrir-cerrar:checked ~ #sidebar {
    width: 100%;
}

input#abrir-cerrar:checked + label[for='abrir-cerrar'],
input#abrir-cerrar:checked ~ #contenido {
    margin-left: 92% !important;
    transition: margin-left 0.4s;
}

input#abrir-cerrar:checked + label[for='abrir-cerrar'] .cerrar {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 324234;
    margin: 4.5px 16px;
    color: #000000;
    font-size: 30px;
}

input#abrir-cerrar:checked + label[for='abrir-cerrar'] .cerrar:hover {
    border: 1px solid #ffbb37;
}

input#abrir-cerrar:checked + label[for='abrir-cerrar'] .abrir {
    display: none;
}

.sidebar {
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #eee;
    overflow-x: hidden;
    transition: 0.4s;
    padding: 1rem 0;
    box-sizing: border-box;
}

.sidebar .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
}

.sidebar ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width: 320px;
}

.sidebar a {
    display: block;
    font-size: 1.2em;
    color: #ffbb37;
    text-decoration: none;
    font-weight: 800;
    text-transform: capitalize;
    margin: 10px 0;
    padding: 20px 10px;
    text-align: center;
}

.sidebar a:hover {
    color: #fff;
    background-color: #f90;
}

.nameUser {
    display: block;
    font-size: 1.2em;
    color: #ffbb37;
    text-decoration: none;
    font-weight: 800;
    text-transform: capitalize;
    margin: 10px 0;
    padding: 20px 10px;
    text-align: left;
}

.avatar {
    width: 32px;
    height: 32px;
    position: absolute;
    top: 15px;
    left: 16vh;
    border-radius: 50%;
}

h1 {
    color: #f90;
    font-size: 180%;
    font-weight: normal;
    margin-top: 1px;
    padding-bottom: 5px;
}
#contenido {
    transition: margin-left 0.4s;
}

.abrir-cerrar {
    color: #2e88c7;
    font-size: 1rem;
}
.nav-header {
    z-index: 80;
    box-sizing: border-box;
    position: fixed;
    background-color: black;
}

.icon-home-navbar {
    display: none;
}

/* landing */

.background-video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.background-image {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.landing {
    z-index: 55;
}
.logo-landing-img {
    border: 1px solid transparent;
    display: block;
    margin: 0 auto;
    width: 30vh;
}
.landing-img {
    border: 1px solid transparent;
    display: block;
    margin: 0 auto;
    width: 40vh;
    margin-bottom: -25vh;
    filter: drop-shadow(5px -15px 15px rgba(1, 5, 5, 0.9));
}

.title-princ {
    font-family: 'Taviraj', 'Varela Round', Courier, monospace;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 1px 1px 15px rgba(255, 255, 255, 0.7);
    padding: 100px 25px;
    border-radius: 25px;
    /*box-shadow: 0 0 25px #faa914;*/
    color: #eee;
    /*background-color: rgba(211, 155, 56, 0.6)*/
}
.bloque-home {
    padding-top: 49px;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

/* seccion nosotros */

#section-nosotros {
    background-image: url(https://www.cervezaogham.com/wp-content/uploads/2018/10/FERMENTADORES_carrete_intro-web.jpg);
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.nosotros {
    background-color: rgba(0, 0, 0, 0.3);
    width: 95vw;
    height: 95vh;
    padding: 15px;
    color: #ddd;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.nosotros h1 {
    padding-bottom: 40px;
    text-transform: uppercase;
    box-shadow: none;
    background-color: transparent;
    margin: 0;
}
.paragraph-us {
    max-width: 500px;
    padding: 20px 20px;
    margin: 0 auto;
    text-align: justify;
    font-size: 1.2em;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
}

#section-estilos {
    background-color: rgba(2, 2, 2, 1);
    display: block;
}

article.estilo {
    padding: 1em;
    position: relative;
}

article div.title {
    padding: 5px;
}

/* forms */

.contain-contact {
    padding: 1px 0;
}
/* form contacto */

#section-contact {
    background-image: linear-gradient(
        to bottom,
        rgba(251, 255, 23, 0.637),
        rgba(255, 153, 0, 0.8)
    );
}
.contacto {
    max-width: 560px;
}
label #msg {
    text-align: left;
}
#msg {
    height: 20vh;
    border: #faa914 1px solid;
    border-top: none;
}
/*  la clase aplica a la seccion comentada
#section-login{
  background-image: url(http://s1.1zoom.me/b5249/161/Hops_Closeup_Many_Texture_551491_2560x1440.jpg);
  width:100%;
  background-size: cover;
  background-repeat: repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
} */

.formulario {
    background-color: rgba(244, 244, 244, 0.7);
    border-radius: 20px;
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    text-align: center;
    width: 70%;
    max-width: 560px;
    min-width: 218px;
    margin: 0 auto;
    margin-top: 106px;
    margin-bottom: 116px;
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.tarjetas {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    text-align: center;
    margin-top: 0px;
    padding: 10px;
}

.form-group {
    box-sizing: border-box;
    color: rgb(33, 37, 41);
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 5px 30px 15px 30px;
    text-align: center;
}
.form-adult {
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    padding-top: 10px;
    border-color: rgb(65, 65, 65);
}

.form-control {
    display: block;
    width: 100%;
    max-width: 390px;
    margin: 0 auto;
    text-align: left;
    line-height: 2;
    background-color: transparent;
    border: 0;
    border-bottom: #faa914 1px solid;
}
.forgot-pass {
    padding: 0;
    font-size: 1.2em;
    margin: 15px 0 0 0;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.forgot-pass {
    color: #ffbb37;
}
.forgot-pass:hover {
    color: #aa320d;
}

.btn-standard {
    display: block;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 5px;
    background-color: #ffbb37;
    border: 0px;
    border-radius: 10px;
    height: 50px;
    width: 100%;
    max-width: 250px;
}
.errores {
    color: #e61010;
    font-size: 0.8em;
    text-align: left;
    display: block;
    padding-left: 11%;
}

.form-check {
    display: block;
    width: 100%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 40px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: solid 0.5px;
    border-color: rgb(65, 65, 65);
}

.term-conditions {
    font-size: 0.7em;
    font-weight: 300;
    text-align: center;
}

/* footer */

.footer {
    bottom: 0;
    width: 100%;
    background-color: #eee;
    height: 20vh;
    padding: 24px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}
.footer a i {
    padding: 0 15px;
    display: inline;
    margin: 0 auto;
}
.copy-footer {
    color: #000;
    margin: 0 auto;
    text-align: center;
}
.iconos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 0 0 10px 0;
}
.nota {
    font-size: 0.6em;
    color: #636262;
    font-weight: 300;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

/* section estilos */

/*.container-styles{
  width: 100vw;
  float: left;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  justify-content: space-around;
  align-items: center;
}*/
.photo {
    width: 100%;
}
.photo-container {
    position: relative;
}

.photo-container img {
    width: 100%;
}
.category {
    text-align: center;
}

.category h2 {
    margin-top: 70px;
    font-size: 1.5rem;
}

.btn-category {
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #ffbb37;
    border: 0px;
    height: 50px;
}

.btn-categoy:hover {
    color: #fff;
    background-color: #f90;
}

.category-query {
    display: inline-block;
    margin: auto;
}

.beer-thumbnail {
    position: relative;
    box-sizing: border-box;
}

.beer-thumbnail img {
    box-sizing: border-box;
    height: 400px;
    position: relative;
}

.beer-info {
    position: relative;
    box-sizing: border-box;
    text-align: left;
    margin-left: 5vw;
    margin-right: 3vw;
}

.beer-info h2 {
    color: #f90;
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 1px;
    padding-bottom: 5px;
}

.beer-info p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1px;
    padding-bottom: 5px;
    text-align: justify;
}

h4.price {
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 1px;
    padding-bottom: 5px;
    text-align: justify;
}

div.ver-products {
    display: block;
    width: 100%;
    color: #efefef;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.btn-products {
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #ffbb37;
    border: 0px;
    border-radius: 10px;
    height: 50px;
}

.btn-products:hover {
    color: #fff;
    background-color: #f90;
}

/*PRODUCTS*/
.product-img {
    z-index: 55;
}

img.product-img {
    width: 400px;
    margin-bottom: -25vh;
    margin-top: 10px;
}

h1.product-title {
    text-align: center;
    padding-top: 80px;
}

p.product-info {
    box-sizing: border-box;
    text-align: justify;
    font-size: 18px;
    margin-left: 20vw;
    margin-right: 20vw;
    margin-bottom: 5px;
    padding-bottom: 0px;
    line-height: 1.5;
}

p.product-price {
    text-align: center;
    font-size: 5vmin;
    margin-left: 20vw;
    margin-right: 20vw;
}

/* CATEGORY PRODUCT FILTER */
.category {
    text-align: center;
}

.category h2 {
    margin-top: 70px;
    font-size: 2rem;
    font-family: 'Montserrat', 'Varela Round', 'Courier New', Courier, monospace;
    font-weight: 200;
}

.btn-category {
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
    padding: 10px;
    background-color: #ffbb37;
    border: 0px;
    height: 50px;
}

.btn-categoy:hover {
    color: #fff;
    background-color: #f90;
}

/*CART TABLE DESKTOP */
h1.cart {
    color: #f90;
    font-size: 36px;
    font-family: 'Montserrat', 'Varela Round', 'Courier New', Courier, monospace;
    font-weight: normal;
    margin-top: 70px;
    text-align: center;
}
div.cart-checkout {
    text-align: center;
    margin-top: 30px;
    margin-right: 15vw;
    text-align: right;
}

h2.cart-checkout {
    color: #f90;
    font-size: 1.2rem;
    font-weight: normal;
}

/*.card-desktop{
  display: none;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(238, 238, 238, 0.2);
  background-size: contain;
  background-repeat: no-repeat;
  text-align: right;
  margin-bottom: 20px;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: column;
  width: 80vw;
  min-height: 160px;
}
.card h1{
  text-align: left;
  padding:0;
  font-weight: normal;
}*/

.title {
    display: block;
    width: 100%;
    color: #efefef;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}
button:hover,
a:hover {
    opacity: 0.7;
}

.avatar-profile {
    width: 130px;
    height: 170px;
    position: relative;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
    padding: 20px 0;
}

.desktop-us {
    visibility: hidden;
}
@media only screen and (min-width: 768px) {
    /* navbar */

    #sidebar {
        width: 100%;
    }
    #abrir-cerrar {
        display: none;
    }
    .abrir,
    .cerrar {
        display: none;
    }
    .sidebar {
        position: fixed;
        overflow: hidden;
        height: auto;
        padding: 0;
        border-radius: 0 0 10px 10px;
        background-color: rgba(238, 238, 238, 0.95);
    }
    .sidebar ul {
        margin: 0;
        width: 100%;
        overflow: hidden;
        padding-left: 10px;
    }

    label[for='abrir-cerrar'] {
        display: none;
    }

    .desktop-us {
        visibility: visible;
    }
    .sidebar a {
        float: left;
        font-size: 1em;
        margin: 0;
        padding: 14.5px 10px;
        max-height: 49px;
    }

    .itemNav,
    .derecha {
        float: right;
    }

    .avatar {
        position: absolute;
        left: 7px;
        top: 7px;
    }
    .btn-home {
        color: #faa914;
        font-size: 1.2em;
        padding: 0;
    }
    .sidebar .btn-home {
        padding: 7.5px 16px;
    }
    .sidebar .btn-home:hover {
        background-color: #f90;
        color: #eee;
    }

    /* landing */

    /* estilos */

    .section-estilos {
        overflow: hidden;
    }

    .estilo {
        width: 48%;
    }
    .estilo:nth-child(odd) {
        float: right;
    }
    .estilo:nth-child(even) {
        float: left;
    }

    .card h1 {
        text-align: center;
        padding: 0 25px;
        margin-right: 0;
        font-weight: normal;
    }
    .title {
        display: block;
        width: 100%;
        color: #efefef;
        font-size: 18px;
        position: absolute;
        bottom: 0;
        padding-bottom: 5px;
    }
}

/* PRODUCTS MOBILE*/

.beer-thumbnail {
    position: relative;
    box-sizing: border-box;
    text-align: center;
}

.beer-thumbnail img {
    height: 400px;
    position: relative;
}

.beer-info {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
}

.beer-info h2 {
    color: #f90;
    font-size: 2.5rem;
    font-weight: 300;
    margin-top: 1px;
    padding-bottom: 5px;
}

.beer-info p {
    color: #fff;
    font-size: 1.5rem;
    font-weight: normal;
    margin-top: 1px;
    padding-bottom: 5px;
    text-align: justify;
}

h4.price {
    color: #fff;
    font-size: 2rem;
    font-weight: normal;
    margin-top: 1px;
    padding-bottom: 5px;
    text-align: center;
}

div.ver-products {
    display: block;
    width: 100%;
    color: #efefef;
    font-size: 18px;
    position: absolute;
    bottom: 0;
    padding-bottom: 5px;
}

.btn-products {
    box-sizing: border-box;
    text-align: center;
    color: #fff;
    font-size: 1.2rem;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 10px;
    background-color: #ffbb37;
    border: 0px;
    border-radius: 10px;
    height: 50px;
}

/* CART TABLE MOBILE*/
h1.cart-title {
    color: #f90;
    font-size: 36px;
    font-weight: normal;
    margin-top: 60px;
    text-align: center;
}

table {
    width: 100%;
    padding: 2vw;
}

th {
    height: 30px;
}
tr {
    height: 50px;
    width: 100%;
}

th,
td {
    border-bottom: 1px solid #ddd;
    padding: 15px;
    text-align: center;
}

td img {
    height: 80px;
    margin: 0 auto;
}

button.btn-eliminar {
    font-size: 2rem;
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
}

button.btn-eliminar:hover {
    color: red;
}
